/* Print Settings */

@page { 
    margin: 0;
}

@media print {
    #header {
        display: none !important;
    }

    .page-section {
        page-break-after: always;
    }
}

@media not print {
    .page-section {
        margin-bottom: 5mm;
    }
}

@viewport {
    width: 215mm;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.page-section {
    padding: 4mm 1.6cm 4mm 1.6cm;
}

/*
 Generics
*/

.filler {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.hidden>h1, .hidden>h2, .hidden>h3, .hidden>h4, .hidden>h5 {
    display: none;
}

ul {
    padding: 3mm 0 3mm 10mm;
}

li {
    list-style: disc;
    list-style-position: outside;
    padding: 1mm 0;
}

strong {
    font-weight: bold;
}

/*
 Header
 */

/*
 cover letter
 */

#cover-letter p {
    margin: 20px 0 0 0;
}

#cover-letter p:last-of-type {
    margin-bottom: 20px;
}
/*
 Resume
*/

#resume {
    padding: 1.6cm;
}

#resume-header {
    margin: 10px;
}

#face {
    width: 30mm;
    height: 30mm;
    padding-right: 3mm;
}

#name {
    flex: 1;
}

#name>h2 {
    font-size: 30pt;
    margin: 0;
}

#right_section {

}

.right {
    text-align: right;
}

/*
 Body
*/

h1 {
    font-size: 16pt;
    width: 100%;
    background-color: green;
    padding: 2mm;
    margin: 4mm 0;
    color: white;
    box-sizing: border-box;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    margin: 2mm 0;
}

.job-description {
    padding: 0.5mm 0;
}
