@page { 
    margin: 0;
}
@viewport {
    width: 215mm;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 1.6cm;
}

/*
 Generics
*/

.filler {
    flex: 1;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.hidden>h1, .hidden>h2, .hidden>h3, .hidden>h4, .hidden>h5 {
    display: none;
}

ul {
    padding: 3mm 0 3mm 10mm;
}

li {
    list-style: disc;
    list-style-position: outside;
}

/*
 Header
*/

#header {
    margin: 10px;
}

#face {
    width: 30mm;
    height: 30mm;
    padding-right: 3mm;
}

#name {
    flex: 1;
}

#name>h2 {
    font-size: 30pt;
    margin: 0;
}

#right_section {

}

/*
 Body
*/

h1 {
    font-size: 16pt;
    width: 100%;
    background-color: green;
    padding: 2mm;
    margin: 1mm 0;
    color: white;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    margin: 1mm 0;
}