/* Print Settings */

@page { 
    margin: 0;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    #header {
        display: none !important;
    }

    .page-section {
        page-break-after: always;
    }
}

@media not print {
    .page-section {
        margin-bottom: 5mm;
    }
}

@viewport {
    width: 215mm;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}

.page-section {
    padding: 4mm 1.6cm 4mm 1.6cm;
}

div {
    box-sizing: border-box;
}

p {
    font-size: 1em;
}

/*
 Generics
*/

.filler {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.row {
    flex-direction: row;
    margin-top: 20pt;
}

.hidden>h1, .hidden>h2, .hidden>h3, .hidden>h4, .hidden>h5 {
    display: none;
}

ul {
    padding-left: 15pt;
}

li {
    list-style: disc;
    list-style-position: outside;
    padding: 2pt 0;
}

li:first-child {
    padding-top: 0;
}

li:last-child {
    padding-bottom: 0;
}

strong {
    font-weight: bold;
}

.bar {
    background-color: #226A31 !important;
    -webkit-print-color-adjust: exact;
    width: 1.5px;
    flex-basis: 1.5px;
}

/*
 Header
 */

/*
 cover letter
 */

#cover-letter p {
    margin: 20px 0 0 0;
}

#cover-letter p:last-of-type {
    margin-bottom: 20px;
}
/*
 Resume
*/

#resume {
    padding: 1.6cm;
}

#resume-header {
    margin-top: 0px;
}

#face {
    width: 70pt;
    height: 70pt;
    padding-right: 20pt;
}

#name {
    flex: 1;
    justify-content: top;
    white-space: nowrap;
}

#name>h2 {
    font-size: 20pt;
    margin: 0;
    padding-bottom: 10px;
}

#right_section {

}

.right {
    text-align: right;
}

#personal-info {
    justify-content: top;
    text-align: top;
    font-size: 1em;
    white-space: nowrap;
    font-size: 12pt;
    line-height: 1.2;
    text-align: right;
}

/*
 Body
*/

#experience {

}

#experience .right-column p { /* Job Description */
    padding-bottom: 4pt;
}

#experience .right-column li {
    color: #333;
}

h1 {
    font-weight: bold;
    font-size: 15pt;
    width: 100%;
    color: #106e38ff;
    margin: 15pt 0;
    box-sizing: border-box;
    text-transform: uppercase
}

h2 {
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 4pt;
}

p, li {
    font-size: 10pt;
    color: black;
}

.left-column p {
    color: black;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 2;
}

#skills h2 {
    padding-top: 10pt;
}

#skills h2:first-of-type {
    padding-top: 0;
}

#skills h2:first-of-type {
    padding-top: 0;
}